<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Work History</h2>
        {% for exp in WorkExperience %}
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">{{ exp.Position }}</h3>
                    <div class="subheading mb-3">{{ exp.Company }}<a href="{{ exp.CompanyWebsite }}"><i class="fa fa-link"></i></a></div>
                    <p>{{ exp.Description }}</p>
                </div>
                <div class="flex-shrink-0"><span class="text-dark">{{ exp.Duration }}</span></div>
            </div>
        {% endfor %}
    </div>
</section>