<section class="resume-section" id="overview">

    <div class="resume-section-content">

        <h1 class="mb-0">
            <span class="text-secondary">{{ NameFirst }}</span>
            {{ NameLast }}
        </h1>

        <div class="subheading mb-5">
            {{ Location }}
            <br>{{ Phone }}
            <!-- <br><a href="mailto:{{ Email }}">{{ Email }}</a> | <a class="download-icon" href="{{ url_for('download_pdf') }}"><i class="fa-solid fa-file-arrow-down"></i></a> -->
        </div>

        <p class="lead mb-5">{{ TagLine }}</p>

        <div class="social-icons">
            <a class="social-icon" href="{{ Socials.LinkedIn }}"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="{{ Socials.GitHub }}"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="{{ Socials.Twitter }}"><i class="fab fa-twitter"></i></a>
            <a class="social-icon" href="{{ Socials.Facebook }}"><i class="fab fa-facebook-f"></i></a>
            <a class="social-icon" href="{{ url_for('download_pdf') }}"><i class="fa-solid fa-file-arrow-down">Download CV</i></a>
            <!-- <a class="social-icon" href="{{ Socials.Instagram }}"><i class="fab fa-instagram"></i></a> -->
        </div>

    </div>

</section>