{% extends "base.html" %}

{% block content %}

    <div class="container-fluid p-0">
        {% include 'partials/overview.html' %}
        <!-- <hr class="m-0" /> -->
        {% include 'partials/experience-detailed.html' %}
        <!-- <hr class="m-0" /> -->
        {% include 'partials/education.html' %}
        <!-- <hr class="m-0" /> -->
        {% include 'partials/skills.html' %}
        <!-- <hr class="m-0" /> -->
        {% include 'partials/interests.html' %}
        <!-- <hr class="m-0" /> -->
        {% include 'partials/aboutme.html' %}
        <!-- <hr class="m-0" />
        {% include 'partials/experience-detailed.html' %} -->
    </div>

{% endblock %}